* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: Arial Black;
}

body {
  margin: 0;
  background-image: url("anime-background.jpg");
}

.page-title {
  color: #151594;
  font-family: Palatino Linotype
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: #FFFFFF;
  font-size: 2em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}


.card:hover .card-face{
	transform: rotateY(180deg);
	backface-visibility: visible;
}

img .card{
	border-radius: 12px;
	border-width: 1px;
	border-style: solid;
}

.card.visible .card-back {
  transform: rotateY(-180deg); 
}

.card.visible .card-front {
  transform: rotateY(0); 
}


.card-back {
  background-color: blue;
  border-color: #000000;
  transform: rotateY(0); 
}

.card-front {
  background-color: white;
  border-color: #000000;
  transform: rotateY(180deg);
}


@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto)
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}